.bar {
    fill : rgba(7, 122, 237,0.5)
    }
    
.redbar {
    fill :rgba(7, 122, 237,1);
}

.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
  }
  
  .foreground path {
    fill: none;
    stroke: steelblue;
  }
  
  .brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
  }

.barchart {
    position:relative;
    left:1000px;
}

.pcp{
    position:relative;
    left:50px;
}

.xtick {
  color: #ffffff;
    font-size: 12px;
}

.ytick {
  color: #ffffff;
font-size: 16px;
}

.xlabel {
  color: #ffffff;
  font-size: 16px;

}

.ylabel {
font-size: 16px;
color: #ffffff;
}



