<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <meta charset="utf-8">

  <script src='https://d3js.org/d3.v4.min.js'></script>
  <script src="https://d3js.org/d3-array.v1.min.js"></script>
  <script src="https://d3js.org/d3-geo.v1.min.js"></script>

  <script src="https://d3js.org/d3-selection.v1.min.js"></script>

  <script src="https://d3js.org/d3-collection.v1.min.js"></script>
  <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
  <script src="https://d3js.org/d3-request.v1.min.js"></script>



    <script src= "https://d3js.org/d3.v4.min.js"></script>
    <script src= "https://d3js.org/d3-color.v1.min.js"></script>
    <script src= "https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src= "https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

  <script src="https://d3js.org/topojson.v1.min.js"></script>

  <script src="https://bl.ocks.org/syntagmatic/raw/3341641/render-queue.js"></script>

    <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link  rel="stylesheet" href= "{{ url_for('static',filename='/css/index.css') }}">
    <link  rel="stylesheet" href= "{{ url_for('static',filename='/css/pcp.css') }}">



  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">


</head>

  <body style="background-color:#505050">

  <!-- <h1 style="text-align: center;background-color:forestgreen">US Road Accidents</h1> -->

  <main>

    <div class="container" style="width: 100% !important;">
        
      <div class="row">
            
        <div class="col l12 s12">
              <h4 style="text-align: center;background-color: white;"><b>US ROAD ACCIDENTS</b></h4>
        </div>

      </div> 

      <div class="row">
        <div class="col l3 s3">
          <div class="card-panel" style="background-color: #201a1657;">
            <div id="map_div" ></div>
            <div id="map_legend"></div>
          </div>
          
        </div>
        
        <div class="col l6 s6">
          <div class="card-panel" style="background-color: #201a1657; ">
            <div id="bar_div" style="background-color: white;"></div>
          
          </div>
          
        </div>
        
      </div>
      <div class="row">

        <div class="col l3 s3">
          <div class="card-panel" style="background-color: #201a1657;">
            <div id="pcp_div" style="background-color: white;"></div>
          </div>
        </div>

        <div class="col l6 s6">
          <div class="card-panel" style="background-color: #201a1657;">
            <div id="biplot_div" style="background-color: white;"></div>
          </div>
        </div>

          <div class="col l6 s6">
            <div class="card-panel" style="background-color: #201a1657; ">
              <div id="sunburst_div"></div>
            </div>
          </div>

      </div>

    
    </div>


  </main>
    

    <script src="{{url_for('static', filename='/js/biplot.js')}}"></script>

     <script>
      var statewise_accidents = JSON.parse('{{statewise_accidents|safe}}');
    </script>
  <script src="{{url_for('static', filename='/js/bar.js')}}")></script>
  <script src="{{url_for('static', filename='/js/pcp.js')}}"></script>
  <script src="{{url_for('static', filename='map.js')}}"></script>
  <script src="{{url_for('static', filename='/js/sunburst.js')}}"></script>
   <!-- <div id="sunburst"></div> -->


   

  </body>

</html>



